<a routerLink="benvenuto" (click)="saveUser()">
    <img posizione [x]="1026.5" [y]="60" [w]="148" [h]="55" src="sfondi_schermate/register/avanti_button.png" alt="bottone_avanti" />
</a>
<a routerLink="">
  <img posizione [x]="370" [y]="59" [w]="63" [h]="57" src="sfondi_schermate/register/x_button.png" alt="x_button" />
</a>
<span>
  <input
     placeholder="Email"
     class="form-control mb-2 scontornato-input"
     posizione [x]="453"
     [y]="155"
     [w]="629"
     [h]="68"
     [(ngModel)]="user!.email"
     required
     email>
  <input
     placeholder="Username"
     class="form-control mb-2 scontornato-input"
     posizione [x]="453" [y]="252" [w]="629" [h]="68"
     [(ngModel)]="user!.username"
     required><br>
  <input
     [type]="showPassword ? 'text' : 'password'"
     placeholder="*********"
     class="form-control mb-2 scontornato-input"
     posizione [x]="453" [y]="349" [w]="629" [h]="68"
     [(ngModel)]="user!.password"
     required>
  <button
     class="transparent-button"
     posizione [x]="1090" [y]="365" [w]="30" [h]="25"
     (click)="showPassword = !showPassword">
  <img *ngIf="showPassword; else hideIcon" src="sfondi_schermate/register/show_button.png" alt="Mostra password">
  <ng-template #hideIcon>
    <img src="sfondi_schermate/register/hide_button.png" alt="Nascondi password">
  </ng-template>
  </button>
  <br>

 <div class="image-container">
  <!-- Bottone "Facile" -->
  <div (mouseenter)="onMouseEnter(0)" (mouseleave)="onMouseLeave(0)" (click)="selectDifficulty('EASY')"
       [ngClass]="{'selected': selectedButton === 'EASY'}">
    <img
      posizione
      [x]="440" [y]="531"
      [w]="items[0].baseW" [h]="items[0].baseH"
      [src]="items[0].baseImage"
      alt="bottone_facile"
      class="base-image" />
    <img
      *ngIf="items[0].isHovered"
      posizione
      [x]="361" [y]="415"
      [w]="330" [h]="125"
      [src]="items[0].hoverImage"
      alt="modalita_facile"
      class="hover-image" />
  </div>

   <!-- Bottone "Intermedio" -->
  <div (mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave(1)" (click)="selectDifficulty('MEDIUM')"
       [ngClass]="{'selected': selectedButton === 'MEDIUM'}">
    <img
      posizione
      [x]="680" [y]="531"
      [w]="items[1].baseW" [h]="items[1].baseH"
      [src]="items[1].baseImage"
      alt="bottone_intermedio"
      class="base-image" />
    <img
      *ngIf="items[1].isHovered"
      posizione
      [x]="603" [y]="415"
      [w]="330" [h]="125"
      [src]="items[1].hoverImage"
      alt="modalita_intermedia"
      class="hover-image" />
  </div>

   <!-- Bottone "Avanzato" -->
  <div (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)" (click)="selectDifficulty('HARD')"
       [ngClass]="{'selected': selectedButton === 'HARD'}">
    <img
      posizione
      [x]="920" [y]="531"
      [w]="items[2].baseW" [h]="items[2].baseH"
      [src]="items[2].baseImage"
      alt="bottone_avanzato"
      class="base-image" />
    <img
      *ngIf="items[2].isHovered"
      posizione
      [x]="845" [y]="415"
      [w]="330" [h]="125"
      [src]="items[2].hoverImage"
      alt="modalita_avanzata"
      class="hover-image" />
  </div>
</div>

</span>
