.image-container img {
  transition: opacity 0.3s ease;
}
.base-image {
  display: block;
}

.hover-image {
  opacity: 0;
}

.image-container:hover .hover-image {
  opacity: 1;
}

.image-container:hover .base-image {
  opacity: 50%;
}

a img {
  display: block;
}

/* SCSS per input scontornato */
.scontornato-input {
  border: 1px solid #ccc; /* Bordo sottile, colore chiaro */
  border-radius: 20px; /* Angoli arrotondati per un aspetto più morbido */
  padding: 12px 20px; /* Padding più ampio per un look più morbido */
  background-color: rgba(221, 238, 255, 0.71); /* Colore di sfondo con opacità al 71% */
  font-size: 16px; /* Adatta la dimensione del testo */
  transition: all 0.3s ease; /* Effetto di transizione al focus */

  /* Centrare il testo del placeholder */
  text-align: center; /* Centra il testo orizzontalmente */
}

.scontornato-input::placeholder {
  font-size: 45px;
  font-family: sans-serif;/* Aumenta la dimensione del font del placeholder */
  color: #464646; /* Colore del placeholder (puoi scegliere il colore che preferisci) */
  text-align: center; /* Centra il testo del placeholder anche in verticale */
}

.scontornato-input:focus {
  border-color: #64b5f6; /* Colore di focus più chiaro */
  outline: none; /* Rimuove il contorno predefinito */
  box-shadow: 0 0 8px rgba(100, 181, 246, 0.5); /* Aggiungi un'ombra leggera */
}
