<a routerLink="/bedroom">
  <img posizione [x]="1830" [y]="210" [w]="56" [h]="46"
       src="sfondi_schermate/bottoni/pixelX.png" alt="chiudi">
</a>


<p posizione [x]="1350" [y]="320" [w]="446" [h]="460">
  Coding is a creative activity that students from any discipline can engage in. It helps to
  build computational thinking, develop problem solving skills, improve critical thinking
  and exposure to real life situations to solve problems in various realms.
</p>


<a target="_blank" posizione [x]="1350" [y]="890" [w]="580" [h]="460" href="https://cbseacademic.nic.in/web_material/codeingDS/classVI_Coding_Student_Handbook.pdf">
  Read More
</a>

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
