<a routerLink="/bedroom">
  <img posizione [x]="1830" [y]="210" [w]="56" [h]="46"
       src="sfondi_schermate/bottoni/pixelX.png" alt="chiudi">
</a>


<p posizione [x]="1350" [y]="320" [w]="446" [h]="460">
  Il coding è un'attività creativa a cui possono dedicarsi studenti di qualsiasi disciplina.
  Consente di sviluppare il pensiero logico, migliorare le capacità di risoluzione dei problemi,
  affinare il pensiero critico e affrontare situazioni reali per risolvere problemi in diversi contesti.
</p>



<a target="_blank" posizione [x]="1350" [y]="910" [w]="170" [h]="40"
   href="https://cbseacademic.nic.in/web_material/codeingDS/classVI_Coding_Student_Handbook.pdf">
  Read More
</a>

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
