<!--<button class="btn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">-->
<!--  <img *ngIf="isHovered" src="/sfondi_schermate/leaderboard.png" alt="leaderboard" style="width: 750px; height: 750px;">-->
<!--</button>-->

<!--      <a routerLink="leaderboard" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" >-->
<!--        <div id="lavagnaDiv" *ngIf="!isHovered"> &nbsp; </div>-->

<!--        <img id="lavagna" *ngIf="isHovered"  src="sfondi_schermate/leaderboard.png" alt="LB">-->
<!--      </a>-->

<!--<a routerLink="/leaderboard" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" *ngIf="isHovered">-->
<!--    <img posizione [x]="805" [y]="150" [w]="560" [h]="535" src="sfondi_schermate/leaderboard.png" alt="LB">-->
<!--</a>-->
<!--TODO RIDIMENSIONARE IMMAGINE CUORI-->
<div posizione [x]="25" [y]="25" [w]="370" [h]="140" [autore]="'F'">
  <img [src]="showHearts()">
</div>

<!--Immagine score-->
<img posizione [x]="27" [y]="185" [w]="280" [h]="90" [autore]="'F'" src="score/contenitoreScore.png">
<p posizione [x]="66" [y]="269" [w]="600" [dimTesto]="50" class="pixelated-font">Score: {{ httpService.score }}</p>

<!--Immagine e rotta per la LeaderBoard-->
<a routerLink="/leaderboard">
  <img [nascosto]="true"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="805" [y]="150" [w]="560" [h]="515"
       src="sfondi_schermate/bottoni/leaderboard.png" alt="LB">
</a>

<a>
  <img [nascosto]="true"
       [style.transition]="'opacity 0.1s'"
       (click)="eatNoodle()"
       posizione [x]="1378" [y]="618" [w]="240" [h]="215"
       src="sfondi_schermate/bottoni/noodle.png" alt="noodle">
</a>

<a routerLink="/blueBook">
  <img [nascosto]="true"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="195" [y]="545" [w]="46" [h]="160"
       src="sfondi_schermate/bottoni/libroBlue.png" alt="libroBlu">
</a>

<a routerLink="/greenBook">
  <img [nascosto]="true"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="430" [y]="320" [w]="46" [h]="160"
       src="sfondi_schermate/bottoni/libroVerde.png" alt="libroVerde">
</a>

<a routerLink="/desktop">
  <img [nascosto]="true"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="1584" [y]="450" [w]="446" [h]="315"
       src="sfondi_schermate/bottoni/computerIconFixed.png" alt="computer">
</a>

<a routerLink="/difficolta">
  <img [nascosto]="true"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="820" [y]="660" [w]="45" [h]="45"
       src="sfondi_schermate/bottoni/bottoneRosso.png" alt="bottoneRosso">
</a>

<!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">-->
<!--  <img [nascosto]="true"-->
<!--       [style.transition]="'opacity 0.1s'"-->
<!--       posizione [x]="820" [y]="660" [w]="45" [h]="45"-->
<!--       src="sfondi_schermate/bottoni/bottoneRosso.png" alt="bottoneRosso">-->
<!--</a>-->
