
<!--<button class="btn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">-->
<!--  <img *ngIf="isHovered" src="/sfondi_schermate/leaderboard.png" alt="leaderboard" style="width: 750px; height: 750px;">-->
<!--</button>-->

<!--      <a routerLink="leaderboard" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" >-->
<!--        <div id="lavagnaDiv" *ngIf="!isHovered"> &nbsp; </div>-->

<!--        <img id="lavagna" *ngIf="isHovered"  src="sfondi_schermate/leaderboard.png" alt="LB">-->
<!--      </a>-->

<!--<a routerLink="/leaderboard" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" *ngIf="isHovered">-->
<!--    <img posizione [x]="805" [y]="150" [w]="560" [h]="535" src="sfondi_schermate/leaderboard.png" alt="LB">-->
<!--</a>-->


<a routerLink="/leaderboard" (mouseenter)="onMouseEnter('imgLeaderboard')" (mouseleave)="onMouseLeave()">
  <img [style.opacity]="isHovered === 'imgLeaderboard' ? '1' : '0'"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="805" [y]="150" [w]="560" [h]="535"
       src="sfondi_schermate/leaderboard.png" alt="LB">
</a>

<a (mouseenter)="onMouseEnter('imgNoodle')" (mouseleave)="onMouseLeave()">
  <img [style.opacity]="isHovered === 'imgNoodle' ? '1' : '0'"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="1378" [y]="628" [w]="246" [h]="210"
       src="sfondi_schermate/bottoni/noodle.png" alt="noodle">
</a>

<a (mouseenter)="onMouseEnter('imgLibroBlu')" (mouseleave)="onMouseLeave()">
  <img [style.opacity]="isHovered === 'imgLibroBlu' ? '1' : '0'"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="465" [y]="320" [w]="46" [h]="160"
       src="sfondi_schermate/bottoni/libroBlue.png" alt="libroBlu">
</a>

<a routerLink="/greenBook" (mouseenter)="onMouseEnter('imgLibroVerde')" (mouseleave)="onMouseLeave()">
  <img [style.opacity]="isHovered === 'imgLibroVerde' ? '1' : '0'"
       [style.transition]="'opacity 0.1s'"
       posizione [x]="598" [y]="550" [w]="46" [h]="160"
       src="sfondi_schermate/bottoni/libroVerde.png" alt="libroVerde">
</a>
