
<!--<button class="btn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">-->
<!--  <img *ngIf="isHovered" src="/sfondi_schermate/leaderboard.png" alt="leaderboard" style="width: 750px; height: 750px;">-->
<!--</button>-->

<!--      <a routerLink="leaderboard" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" >-->
<!--        <div id="lavagnaDiv" *ngIf="!isHovered"> &nbsp; </div>-->

<!--        <img id="lavagna" *ngIf="isHovered"  src="sfondi_schermate/leaderboard.png" alt="LB">-->
<!--      </a>-->

<a routerLink="/leaderboard">
<img posizione [x]="805" [y]="150" [w]="560" [h]="535" src="sfondi_schermate/leaderboard.png" alt="LB">
</a>
