<form #registerForm="ngForm">
  <span>

    <div class="image-container">
    <!-- Bottone "Facile" -->
      <div (mouseenter)="onMouseEnter(0)" (mouseleave)="onMouseLeave(0)" (click)="selectDifficulty('EASY')"
           [ngClass]="{'selected': selectedButton === 'EASY'}">
        <img
          posizione
          [x]="400" [y]="385"
          [w]="items[0].baseW" [h]="items[0].baseH"
          [src]="items[0].baseImage" [autore]="'R'"
          alt="bottone_facile"
          class="base-image"/>

        <img
          *ngIf="items[0].isHovered"
          posizione
          [x]="293" [y]="230"
          [w]="396" [h]="150"
          [src]="items[0].hoverImage" [autore]="'R'"
          alt="modalita_facile"
          class="hover-image"/>
      </div>

      <!-- Bottone "Intermedio" -->
      <div (mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave(1)" (click)="selectDifficulty('MEDIUM')"
           [ngClass]="{'selected': selectedButton === 'MEDIUM'}">
        <img
          posizione
          [x]="674" [y]="385"
          [w]="items[1].baseW" [h]="items[1].baseH"
          [src]="items[1].baseImage" [autore]="'R'"
          alt="bottone_intermedio"
          class="base-image"/>

        <img
          *ngIf="items[1].isHovered"
          posizione
          [x]="548" [y]="230"
          [w]="396" [h]="150"
          [src]="items[1].hoverImage" [autore]="'R'"
          alt="modalita_intermedia"
          class="hover-image"/>
      </div>

      <!-- Bottone "Avanzato" -->
      <div (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)" (click)="selectDifficulty('HARD')"
           [ngClass]="{'selected': selectedButton === 'HARD'}">
        <img
          posizione
          [x]="940" [y]="384"
          [w]="items[2].baseW" [h]="items[2].baseH"
          [src]="items[2].baseImage" [autore]="'R'"
          alt="bottone_avanzato"
          class="base-image"/>

        <img
          *ngIf="items[2].isHovered"
          posizione
          [x]="806" [y]="230"
          [w]="396" [h]="150"
          [src]="items[2].hoverImage" [autore]="'R'"
          alt="modalita_avanzata"
          class="hover-image"/>
      </div>
    </div>

  </span>
</form>
