.names
{
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Per centrare orizzontalmente */
  justify-content: center; /* Per centrare verticalmente */
  padding: 20px; /* Margine interno per maggiore spazio */
  margin-bottom: 10px; /* Spazio tra i vari utenti */
}

.leaderboard-scroll {
  background-color: #0957A2;
  opacity: 0.5;
  max-height: 530px; /* Limita l'altezza del contenitore */
  overflow-y: scroll; /* Abilita lo scrolling verticale */
  scrollbar-width: none; /* Nasconde la barra su Firefox */
  -ms-overflow-style: none; /* Nasconde la barra su Internet Explorer/Edge */
}

.leaderboard-scroll::-webkit-scrollbar {
  display: none; /* Nasconde la barra su Chrome, Safari e altri */

}

.leaderboard-container {
  position: absolute; /* Ti consente di spostarlo liberamente */
  top: 54%; /* Sposta verso il centro verticale */
  left: 51%; /* Sposta verso il centro orizzontale */
  transform: translate(-50%, -50%); /* Centra esattamente il contenitore */
  width: 50%; /* Larghezza dinamica */
  /*max-width: 600px; !* Limita la larghezza massima *!*/
  padding: 20px; /* Spazio interno */
  overflow: hidden;
}
