<a routerLink="/bedroom">
  <img posizione [x]="1890" [y]="112" [w]="60" [h]="65" src="sfondi_schermate/bottoni/x.png"
       alt="LB">
</a>

<div class="container unscrollable">
  <div class="table-container unscrollable">
    <table
      class="table table-dark table-hover mb-0 unscrollable">
      <thead>
      <tr>
        <th scope="col">POS</th>
        <th scope="col">PUNTI</th>
        <th scope="col">UTENTE</th>
        <th scope="col">DIFFICOLTÀ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of allUsersLeaderboard; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ row.score }}</td>
        <td>{{ row.username }}</td>
        <td>{{ row.difficulty == "EASY" ? "Facile" : row.difficulty == "MEDIUM" ? "Intermedio" : "Avanzato" }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

