<a routerLink="/desktop">
  <img *ngIf="flag" posizione [x]="1754" [hoverabile]="true" [y]="33" [w]="18" [h]="18"
       [autore]="'F'" [centroMassa]="true"
       class="cross-group close_button"
       src="sfondi_schermate/boom/cross-group.svg"
  />
  <img *ngIf="!flag" posizione [x]="1753" [hoverabile]="true" [y]="35" [w]="18" [h]="18"
       [autore]="'F'" [centroMassa]="true"
       class="cross-group close_button"
       src="sfondi_schermate/boom/cross-group.svg"
  />
  <img *ngIf="imageWithoutChat" posizione [x]="940" [hoverabile]="true" [y]="856" [w]="52" [h]="52"
       [autore]="'F'" [centroMassa]="true"
       class="boom-exit-call close_button"
       src="sfondi_schermate/boom/boom-exit-call.svg"
  />
</a>
<a routerLink="/desktop">
  <img *ngIf="imageWithChat" posizione [x]="903" [hoverabile]="true" [y]="882" [w]="52" [h]="52"
       [autore]="'F'" [centroMassa]="true"
       class="boom-exit-call close_button"
       src="sfondi_schermate/boom/boom-exit-call.svg"
  />
</a>

<a routerLink="/brainj_dinamico">
  <img *ngIf="imageWithChat" posizione [x]="1144" [hoverabile]="true" [y]="166" [w]="68" [h]="68"
       [autore]="'F'" [centroMassa]="true"
       class="boom-exit-call close_button"
       src="sfondi_schermate/desktop/brainj_icon.png"
  />
</a>
<a routerLink="/kaboom_dinamico">
  <img *ngIf="imageWithoutChat" posizione [hoverabile]="true" [x]="1383" [y]="165" [w]="86" [h]="73"
       [autore]="'F'" [centroMassa]="true"
       src="sfondi_schermate/desktop/kaboom_icon.png" alt="kaboom">
</a>
