<a routerLink="/desktop">
  <img *ngIf="flag" posizione [x]="1754" [hoverabile]="true" [y]="33" [w]="18" [h]="18" [autore]="'F'" [centroMassa]="true"
       class="cross-group close_button"
       src="sfondi_schermate/boom/cross-group.svg"
  />
  <img *ngIf="!flag" posizione [x]="1753" [hoverabile]="true" [y]="35" [w]="18" [h]="18" [autore]="'F'" [centroMassa]="true"
       class="cross-group close_button"
       src="sfondi_schermate/boom/cross-group.svg"
  />
  <img *ngIf="imageWithoutChat" posizione [x]="940" [hoverabile]="true" [y]="856" [w]="52" [h]="52" [autore]="'F'" [centroMassa]="true"
       class="boom-exit-call close_button"
       src="sfondi_schermate/boom/boom-exit-call.svg"
  />
</a>
<a routerLink="/desktop">
  <img *ngIf="imageWithChat" posizione [x]="903" [hoverabile]="true" [y]="882" [w]="52" [h]="52" [autore]="'F'" [centroMassa]="true"
       class="boom-exit-call close_button"
       src="sfondi_schermate/boom/boom-exit-call.svg"
  />
</a>
