<a routerLink="/bedroom">
  <img posizione [x]="1830" [y]="210" [w]="56" [h]="46"
       src="sfondi_schermate/bottoni/pixelX.png" alt="chiudi">
</a>


<p posizione [x]="1350" [y]="320" [w]="446" [h]="460">
  Ciao e benvenuto in Teach Yourself Java in 21 Days! A partire da oggi e per le prossime tre settimane,
  imparerai tutto sul linguaggio Java, su come utilizzarlo per creare applet e su come sviluppare
  applicazioni Java autonome che potrai utilizzare per una vasta gamma di scopi!
</p>

<p posizione [x]="1350" [y]="740" [w]="560" [h]="460">
  Laura Lemay, Charles L.Perkins
</p>

<a target="_blank" posizione [x]="1350" [y]="880" [w]="170" [h]="40"
   href="https://www.cs.cmu.edu/afs/cs.cmu.edu/user/gchen/www/download/java/LearnJava.pdf">
  Read More
</a>

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
