<a routerLink="/bedroom">
  <img posizione [x]="1830" [y]="210" [w]="56" [h]="46"
       src="sfondi_schermate/bottoni/pixelX.png" alt="chiudi">
</a>


<p posizione [x]="1350" [y]="320" [w]="446" [h]="460">
  Hello and welcome to Teach Yourself Java in 21 Days! Starting today and for the next three weeks
  you’ll learn all about the Java language and how to use it to create applets, as well as how to
  create
  stand-alone Java applications that you can use for just about anything!
</p>

<p posizione [x]="1350" [y]="740" [w]="560" [h]="460">
  Laura Lemay, Charles L.Perkins
</p>

<a target="_blank" posizione [x]="1350" [y]="880" [w]="170" [h]="40"
   href="https://www.cs.cmu.edu/afs/cs.cmu.edu/user/gchen/www/download/java/LearnJava.pdf">
  Read More
</a>

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
