<!--Icona di Boom-->
<a routerLink="/boom">
  <img posizione [hoverabile]="true" [x]="177" [y]="191" [w]="70" [h]="70" [autore]="'F'"
       [centroMassa]="true" src="sfondi_schermate/desktop/boom_icon.png" alt="boom">
</a>
<!-- -->
<!--Icona di BrainJ-->
<a routerLink="/brainj">
  <img posizione [hoverabile]="true" [x]="177" [y]="83" [w]="70" [h]="70" [autore]="'F'"
       [centroMassa]="true" src="sfondi_schermate/desktop/brainj_icon.png" alt="brainj">
</a>
<!---->
<!--Icona di Kaboom-->
<a routerLink="/kaboom">
  <img posizione [hoverabile]="true" [x]="175" [y]="282" [w]="86" [h]="73" [autore]="'F'"
       [centroMassa]="true" src="sfondi_schermate/desktop/kaboom_icon.png" alt="kaboom">
</a>
<!---->
<!--Icona del Tutorial-->
<a routerLink="/tutorial">
  <img posizione [hoverabile]="true" [x]="81" [y]="283" [w]="74" [h]="73" [autore]="'F'"
       [centroMassa]="true" src="sfondi_schermate/desktop/tutorial_icon.png" alt="tutorial_icon">
</a>
<!---->
<!--Bottone per tornare alla stanza-->
<a routerLink="/bedroom">
  <img posizione [hoverabile]="true" [x]="1725" [y]="81" [w]="272" [h]="50" [autore]="'F'"
       [centroMassa]="true" src="sfondi_schermate/desktop/backToRoom_icon.png" alt="button">
</a>
<!---->
<!--Icona del Tutorial-->
<a href="https://italy.generation.org/programs/java-developer/" target="_blank">
  <img posizione [hoverabile]="true" [x]="75" [y]="389" [w]="74" [h]="73" [autore]="'F'"
       [centroMassa]="true" src="sfondi_schermate/desktop/Gieneration.png" alt="tutorial_icon">
</a>
<!---->
