<!--Icona di Boom-->
<a routerLink="/boom">
  <img posizione [x]="185" [y]="190" [w]="70" [h]="70" [autore]="'F'" [centroMassa]="true" src="sfondi_schermate/desktop/boom_icon.png" alt="boom">
</a>
<!-- -->
<!--Icona di BrainJ-->
<a routerLink="/brainj">
  <img posizione [x]="186" [y]="81" [w]="70" [h]="70" [autore]="'F'" [centroMassa]="true" src="sfondi_schermate/desktop/brainj_icon.png" alt="brainj">
</a>
<!---->
<!--Icona di Kaboom-->
<a routerLink="/kaboom">
  <img posizione [x]="185" [y]="282" [w]="86" [h]="73" [autore]="'F'" [centroMassa]="true" src="sfondi_schermate/desktop/kaboom_icon.png" alt="kaboom">
</a>
<!---->
<!--Icona del Tutorial-->
<a routerLink="/tutorial">
  <img posizione [x]="91" [y]="283" [w]="74" [h]="73" [autore]="'F'" [centroMassa]="true" src="sfondi_schermate/desktop/tutorial_icon.png" alt="tutorial_icon">
</a>
<!---->
<!--Bottone per tornare alla stanza-->
<a routerLink="/bedroom">
  <img posizione [x]="1751" [y]="81" [w]="272" [h]="50" [autore]="'F'" [centroMassa]="true" src="sfondi_schermate/desktop/backToRoom_icon.png" alt="button">
</a>
<!---->
