<a routerLink="/desktop">
    <img
            posizione
            [x]="1760"
            [y]="35"
            [w]="22"
            [h]="22"
            [autore]="'F'"
            [centroMassa]="true"
            [hoverabile]="true"
            src="sfondi_schermate/boom/cross-group.svg" alt="button">
</a>
<div class="d-flex container">
    <div class="col">

    </div>
    <div class="col">
        <iframe
                posizione
                [x]="1079"
                [y]="490"
                [w]="1313"
                [h]="876"
                [autore]="'F'"
                [centroMassa]="true"
                frameBorder="0"
                src="https://onecompiler.com/embed/java?theme=dark&hideTitle=true&hideStdin=true&hideLanguageSelection=true&hideNew=true&hideNewFileOption=true"
        ></iframe>
    </div>
</div>
