<div class="schermata-login-03">
    <img class="sfondo-ufficiale" src="sfondo-ufficiale0.png" />
    <div class="rectangle-989"></div>
    <div class="frame-6">
        <img class="x-circle" src="x-circle0.svg" />
        <div class="login">Login</div>
        <img class="rectangle-1062" src="rectangle-10620.svg" />
        <div class="avanti">Avanti</div>
    </div>
    <div class="frame-7">
        <div class="div">***********</div>
    </div>
    <div class="frame-62">
        <div class="email">Email</div>
    </div>
</div>
