<input placeholder="Email" class="form-control mb-2 scontornato-input" posizione [x]="550" [y]="400" [w]="1630" [h]="150" [autore]="'D'" [(ngModel)]="user!.email"><br>

<input placeholder="Password" class="form-control mb-2 scontornato-input" posizione [x]="550" [y]="540" [w]="1630" [h]="150" [autore]="'D'" [(ngModel)]="user!.password"><br>

<a routerLink="/bedroom">
  <img posizione [x]="1290" [y]="225" [w]="390" [h]="150" [autore]="'D'" src="sfondi_schermate/register/bottone_avanti.png" alt="bottone_avanti"/>
</a>

<a routerLink="">
  <img posizione [x]="438" [y]="225" [w]="153" [h]="150" [autore]="'D'" src="sfondi_schermate/register/x_button.png" alt="x_button" />
</a>
