<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" >
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
      <a routerLink="login">
        <img class="img-fluid" style="width: 65%; margin-top: 15%; margin-bottom: 5%; margin-left: 17.5%" src="sfondi_schermate/login/login_button.png" alt="logo">
      </a>

      <a routerLink="register">
      <img style="width: 65%; margin-top: 0%; margin-left: 17.5%" src="sfondi_schermate/login/register_button.png" alt="logo">
      </a>
    </div>
    <div class="col"></div>
  </div>
</div>
